mcp:
  servers:
    python:
      command: "uv"
      args:
        - "--directory"
        - "/Users/gd-npc-1029/Documents/CodeBase/deepAgent/mcps/python"
        - "run"
        - "server.py"

model:
  default_model: "<your model>"
  api_key: "<your api key>"
  base_url: "<your base url>"

setting:
  max_plan_iterations: 1
  max_step_num: 3
